version: "3.8"
services:
  sidecar:
    build: .
    image: docker.io/library/substrate-api-sidecar
    read_only: true
    ports:
      - "8080:8080"
    environment:
      SAS_SUBSTRATE_URL: wss://testnet-rpc.polymesh.live:9944
      SAS_SUBSTRATE_TYPES_BUNDLE: /usr/src/app/polymesh_schema.json
